@import url("https://fonts.googleapis.com/css2?family=Alice&family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #777e90;
  border-radius: 4px;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.1s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

@keyframes rotate-90-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate-90-cw {
  animation: rotate-90-cw 15s linear infinite;
}

@media only screen and (min-width: 768px) {
  #hero-circle-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%; /* Take up half of the hero section */
    height: 100%; /* Stretch the height to match the hero section */
    background-color: #ddf3d8;
    border-radius: 0 100% 100% 0 / 100% 100% 0 0; /* Create a half-oval shape */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px; /* Adjust the padding as needed */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    overflow: hidden;
  }
}
@media only screen and (max-width: 768px) {
  #hero-circle-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%; /* Take up half of the hero section */
    height: 100%; /* Stretch the height to match the hero section */
    background-color: #ddf3d8;
    border-radius: 100% 100% 100% 100% / 100% 100% 0 0; /* Create a half-oval shape */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 100px; /* Adjust the padding as needed */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    overflow: hidden;
  }
}

@layer utilities {
  /* Global Variables */
  .boxWidth {
    @apply xl:max-w-[1280px] w-full;
  }
  .flexCenter {
    @apply flex justify-center items-center;
  }
  .flexStart {
    @apply flex justify-center items-start;
  }
  .flexBetween {
    @apply flex justify-between items-center;
  }
  .flexEnd {
    @apply flex flex-1 justify-end items-center;
  }
  .padding-x {
    @apply sm:px-16 px-6;
  }
  .padding-y {
    @apply sm:py-28 py-6;
  }
  .padding {
    @apply sm:px-16 px-6 sm:py-12 py-4;
  }
  .margin-x {
    @apply sm:mx-16 mx-6;
  }
  .margin-y {
    @apply sm:my-16 my-6;
  }
  .component-title-highlight-text {
    @apply text-primaryGreen;
  }
  .component-sub-title-text {
    @apply font-poppins md:text-2xl xs:text-xl text-lg text-textNeutralBlack leading-normal font-normal text-center;
  }
  /* Home Page CSS */
  /* Home => Hero-Section starts */
  .hero-box{
    @apply flex sm:flex-row flex-col overflow-hidden;
  }
  .hero-text-wrapper{
    @apply flex flex-col justify-between items-start flex-1 md:gap-[9.88rem] gap-[5.12rem] xl:px-0 sm:px-16 px-[2.19rem];
  }
  .hero-internal-text-wrapper{
    @apply flex md:items-start items-center flex-col md:gap-0 gap-4;
  }
  .hero-heading-text {
    @apply font-alice md:text-7xl sm:text-[3.5rem] text-[2rem] sm:text-left text-center text-textBlack font-normal md:tracking-tight sm:tracking-wide tracking-wider leading-normal;
  }
  .hero-subtitle-text {
    @apply font-poppins font-normal md:text-2xl sm:text-xl text-lg text-textNeutralBlack ml-2 mt-3 md:text-left text-center sm:w-fit w-full;
  }
  .hero-button-section{
    @apply flex md:justify-start justify-center items-center gap-6 sm:mt-9 mt-4;
  }
  .hero-text-link{
    @apply text-primaryGreen md:block hidden hover:text-green-700;
  }
  .hero-stats-wrapper{
    @apply md:flex justify-center md:items-start hidden gap-[3.75rem] font-poppins text-textNeutralBlack padding-x py-7 bg-neutralWhite rounded-2xl;
  }
  .hero-card-stat-text {
    @apply font-poppins md:text-[2rem] text-2xl leading-normal text-textNeutralBlack font-semibold;
  }
  .hero-card-title-text {
    @apply font-poppins md:text-xl text-lg font-normal leading-normal;
  }
  /* Home => Hero-section Ends */
  .component-title-text {
    @apply font-alice text-textBlack xs:text-5xl text-[2rem] xs:tracking-normal tracking-wider font-normal text-center leading-normal capitalize;
    font-feature-settings: "clig" off, "liga" off;
  }
  /* Home => SpecialOffer-section Starts  */

  .special-offer-card-img {
    @apply md:w-[17.75rem] w-[12.5rem] md:h-[17.75rem] h-[12.5rem];
  }
  .special-offer-card-title {
    @apply font-alice md:text-[2rem] xs:text-2xl text-[1.75rem] font-normal text-textBlack tracking-wider leading-normal;
  }
  .special-offer-card-rating {
    @apply font-poppins text-paraTextColor md:text-base text-[0.0875rem] leading-normal font-normal;
  }
  .special-offer-card-price {
    @apply font-alice text-primaryGreen leading-10 font-normal md:text-[2.5rem] text-[2rem] capitalize;
    font-feature-settings: "clig" off, "liga" off;
  }
  .how-we-keep-card-img {
    @apply w-12 h-12;
  }
  .how-we-keep-card-title {
    @apply font-alice text-textBlack md:text-[1.75rem] text-xl font-normal leading-normal md:-tracking-[0.00875rem] tracking-normal;
    font-feature-settings: "clig" off, "liga" off;
  }
  .how-we-keep-card-sub-title-text {
    @apply font-poppins text-center text-base leading-normal font-normal text-paraTextColor;
  }
  .form-heading {
    @apply font-poppins xs:text-2xl text-lg text-formBlack leading-normal opacity-80 font-normal capitalize;
  }
  .form-subHeading {
    @apply font-poppins text-paraTextColor text-base;
  }
  .form-title {
    @apply font-poppins text-base leading-normal font-normal text-paraTextColor;
  }
  .form-input-select {
    @apply px-1 py-[0.62rem] placeholder:font-poppins placeholder:text-textNeutralBlack placeholder:text-base placeholder:leading-normal placeholder:font-normal placeholder:opacity-80;
  }
}
